:root{
    --background: #fff;
    --text: #000;
    --border: #000;
    --button: #000;
    --button-icon: #fff;
    --footer: #ccc;
    --gray-hover: #e2e2e2;
    --gray: #ccc;
    --light-gray: #f0f0f0;
    --white: #fff;
    --black: #000;
    --popup: rgba(0, 0, 0, 0.7);
    --error: red;
    --dark-gray: #aaa;
    --stat: #fff;
    --clear-button-hover: rgba(169, 169, 169, 0.5);
    --clear-button-active: rgba(169, 169, 169, 0.7);
    --background-gradient: radial-gradient(circle closest-side, #000 90%, #0000);
}

.dark-mode {
    --background: #121212;
    --text: #fff;
    --border: #c2c2c2;
    --button: #fff;
    --button-icon: #000;
    --footer: #a6a6a6;
    --gray-hover: #e2e2e2;
    --gray: #ccc;
    --light-gray: #f0f0f0;
    --white: #fff;
    --black: #000;
    --popup: rgba(0, 0, 0, 0.7);
    --error: red;
    --dark-gray: #aaa;
    --stat: #ccc;
    --clear-button-hover: rgba(169, 169, 169, 0.5);
    --clear-button-active: rgba(169, 169, 169, 0.7);
    --background-gradient: radial-gradient(circle closest-side, #fff 90%, #fff0);
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    background-color: var(--background);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

/* Scroll Bar Width */
::-webkit-scrollbar {
    scroll-behavior: smooth;
    height: calc(100% - 3em);
    overflow-y: auto;
    width: 10px;
    height: 10px;
}

/* Scroll Bar Track */
::-webkit-scrollbar-track {
    border: none;
    border-radius: 10px;
}

/* Scroll Bar Handle */
::-webkit-scrollbar-thumb {
    background: var(--footer);  
    border-radius: 20px;
}

/* Scroll Bar Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--gray-hover);  
}

h1 {
    margin: 0;
}

h1 a{
    color: var(--text);
    text-decoration: none;
}

/* Github Button */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    color: var(--button-icon);
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.btn.btn-github, .btn.btn-dark {
    background-color: var(--button);
}

.btn.btn-github:hover, .btn.btn-dark:hover {
    color: var(--gray);
}

#sortOrder, #rarityFilter, #supertypeFilter{
    padding: 7px;    
    background: var(--white);
    color: var(--black);
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--border);
    box-sizing: border-box;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    width: 90px;
    height: 36px;
    transition: height .4s ease;
}

#sortOrder option, #rarityFilter option, #supertypeFilter option{
    font-size: 12px;
}

#rarityFilter option:first-child,
#supertypeFilter option:first-child {
    background-color: var(--footer);
}

.searchTools{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    float: right;
}

.container{
    display: flex;
}

.feature{
    display: flex;
    margin-right: 5px;
    height: 25px;
    align-items: center;
    border-radius: 5px;
    border: none;
    background-color: var(--light-gray);
    cursor: pointer;
}

.feature:hover{
    background-color: var(--gray);
}

/* Styles for draw */
.draw, .csvCards{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--popup);
}

.draw-content, .csv-content{
    background-color: var(--stat);
    margin: 3% auto;
    padding: 20px;
    border: none;
    border-radius: 5px;
    width: 80%;
}

#cardContainer, #csvContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 10px;
    margin-left: 5px;
    margin-right: 5px;
    justify-items: center;
}

/* Styles for modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--popup);
}

.modal-content {
    background-color: var(--stat);
    margin: 3% auto;
    padding: 20px;
    border: none;
    border-radius: 5px;
    width: 80%;
}

.chart-container {
    width: 100%;
    height: 300px;
}

/* Ensure canvas fills container */
canvas {
    width: 100%;
    height: 100%;
    background-color: var(--stat);
    border-color: var(--gray);
}

.filter-container {
    display: flex;
    align-items: center;
    float: right;
}

.filter-container input[type="text"]{
    padding: 6px;
    padding-right: 26px;
    font-size: 17px;
    border: none;
    width: 155px;
    margin-left: 5px;
    border-top: 2px solid var(--border);
    border-left: 2px solid var(--border);
    border-bottom: 2px solid var(--border);  
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
}

#fetchButton {
    width: 32px;
    float: right;
    padding: 6px 0px;
    margin-right: 0px;
    background: var(--gray);
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: var(--white);
    border-top: 2px solid var(--border);
    border-right: 2px solid var(--border);
    border-bottom: 2px solid var(--border);  
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#fetchButton:hover{
    background-color: var(--dark-gray);
}

.search-options {
    display: flex;
    float: right;
    margin-bottom: 10px;
}

.search-options button {
    padding: 5px 8px;
    border: none;
    background-color: var(--light-gray);
    border-radius: 5px;
    cursor: pointer;
}

/*No margin for last item*/
.search-options button:not(:last-child) {
    margin-right: 5px;
}

.search-options button.active {
    background-color: var(--gray);
}

#pokemonDropdown {
    display: none;
    position: absolute;
    width: 100%;
    margin-left: 5px;
    background-color: #fff;
    max-height: 190px;
    overflow-y: auto;
    z-index: 999;
    top: calc(100% - 2px); /* Position the dropdown below the search input */
    width: 189px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
}

#pokemonDropdown div{
    padding: 10px;
    cursor: pointer;
}

#pokemonDropdown div.active {
    background-color: #ddd;
}

.searcher {
    position: relative;
}

.search-input-container {
    position: relative;
    display: inline-block;
}

#clearButton {
    display: none;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 0px;
    background-color: transparent;

    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    padding: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}

#clearButton:hover {
    background-color: var(--clear-button-hover);
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

#clearButton:active {
    background-color: var(--clear-button-active);
    transition: background-color 0.3s ease;
}

#clearButton i {
    font-size: 12px; /* Adjust according to the button size */
}

#output {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 10px;
    margin-left: 5px;
    margin-right: 5px;
    justify-items: center;
}

.error-msg{
    margin-block-start: 7px;
    margin-block-end: 3px;
}

.card {
    border: none;
    border-radius: 5px;
    /* background-color: var(--background); */
    text-align: center;
    width: 200px;
    position: relative; /* Enables positioning child elements like the badge relative to this container */
}

.card img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.card p{
    margin-block-start: 7px;
    margin-block-end: 3px;
    color: var(--text);
}

.card a, .expansion-meta a{
    text-decoration: none;
    color: var(--text);
}

.card a:hover, .expansion-meta a:hover{
    color: var(--dark-gray);
}

.cardInfo {
    display: block;
}

/* manage CSV cards */
.controlCSV{
    display: inline-flex;
    position: fixed;
    flex-direction: column;
    gap: 10px;
    top: 20%;
    z-index: 9999;
}

.csv, .count, .act{
    display: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    border: none;
}

.csv, .act.off{
    background-color: #aaa;
    cursor: pointer;
}

.csv:hover, .act.off:hover{
    background-color: var(--gray-hover);
}

.csv:active, .act.off:active{
    background-color: var(--gray);
}

#redrawBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#redrawBtn, #exportCSV{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#removeCSV{
    bottom: 80px;
}

.csvCards .card{
    position: relative;
}

#getChallengeBtn.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.act {
    position: fixed;
    bottom: 20px;
    right: 80px;
    color: white;
    cursor: pointer;
}

.act:hover {
    background-color: #006400;
}

.act:active {
    background-color: #7CCD7C;
}

.count, .act {
    background-color: #228B22;
    user-select: none;
    z-index: 1000;
}

.count {
    cursor: default;
}

.count span {
    position: relative;
}

.remove-card-btn, .cart-badge, .count-badge {
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    z-index: 2;
    width: 25px;
    height: 25px;
}

/* Remove button in csv*/
.remove-card-btn {
    top: -3%;
    left: 97%;
    transform: translateX(-50%);
    background-color: #e74c3c;
    color: white;
    border: none;
    cursor: pointer;
}

.remove-card-btn:hover {
    background-color: #f58a7a;
}

.remove-card-btn:active {
    background-color: #c0392b;
}

.cart-badge, .count-badge{
    top: 5px;
    left: 5px;
    color: #fff;
    border: 2px solid white;
    cursor: default;
    user-select: none;
}

.cart-badge{
    background-color: #228B22;
}

.count-badge{
    background-color: #000;
}

/* For the cards in the draw popup container */
.draw .card {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Fade-in effect */
}

.draw .card.visible {
    opacity: 1; /* Make the card visible */
}

.error {
    color: var(--error);
    font-size: 22px;
}

#outputContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

#info{
    width: 100%;
    display: none;
    margin: 0px 5px;
}

#info h2{
    width: 100%;
    font-size: 28px;
    display: inline-flex;
    justify-content: center;
    margin-top: 0px;
    margin-block-end: 20px;
}

/*Section divider*/
.section-title {
    position: relative;
    text-align: center;
}

.section-title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--gray);
    z-index: 0;
}

.section-title span {
    position: relative;
    background: var(--background);
    color: var(--text);
    padding: 0 1em;
    z-index: 1;
}

/*Expansions*/
.expansion{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    gap: 15px;
    margin-left: 5px;
    margin-right: 5px;
    justify-items: center;
}

.expansion-item img{
    width: auto;
    height: 100px;
}

.expansion-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  margin-bottom: 12px;
}

.expansion-meta{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.expansion-meta img{
    width: 30px;
    height: auto;
}

.expansion-meta strong{
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

/*Loading*/
#loader {
    display: inline-flex;
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat var(--background-gradient);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }

/* Popup Styles */
#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--popup);
    z-index: 9999;
    overflow: auto;
}

#popupImage {
    display: block;
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#caption {
    display: block;
    color: var(--white);
    text-align: center;
    margin-top: 20px;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: var(--dark-gray);
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: var(--gray);
}

footer {
    font-size: 16px;
    background-color: var(--footer);
    color: var(--white);
    text-align: left;
    margin: 15px 0px 0px 0px;
    padding-left: 20px;
    padding-right: 10px;
}

footer a{
    color: var(--white);
    text-decoration: underline;
}

footer a:hover{
    color: var(--gray-hover);
}

.footicons{
    font-size: 31px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--white);
}

.footicons .btn {
    margin-right: 10px;
}

.footerContent{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

#scrollTop{
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: var(--white);
}

#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--footer);
    color: var(--white);
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
}

#scrollTopBtn:hover {
    background-color: var(--gray-hover);
}

@media (min-width: 767px) and (max-width: 977px) {
    .header {
        margin: 15px;
    }
    h1{
        width: 30%;
        font-size: 28px;
    }
    .searchTools{
        width: 70%
    }
    .filter-container{
        width: 100%;
        justify-content: flex-end;
    }
    .expansion{
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
        column-gap: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .expansion-item{
        gap: 10px;
    }
    .expansion-item img{
        width: 300px;
        height: auto;
    }
    .expansion-meta img{
        width: 30px;
        height: auto;
    }
}

@media only screen and (max-width: 767px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        margin: 10px;
    }

    h1{
        font-size: 26px;
    }

    .btn{
        padding: 4px;
    }

    .searchTools{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        float: right;
        margin-top: 10px;
    }

    .search-options{
        width: 100%;
        justify-content: flex-end;
        margin-bottom: 2px;
    }

    .searcher{
        width: 100%;
    }

    .search-input-container{
        width: calc(100% - 32px);
    }

    .filter-container {
        flex-direction: column-reverse;
        width: 100%;
        align-items: flex-end;
    }

    .filter-container input[type="text"]{
        width: calc(100% - 34px);
    }

    .filter-container select, .filter-container input[type="text"], .filter-container button {
        margin: 5px 0;
    }

    #clearButton {
        top: 39%;
    }

    #pokemonDropdown{
        margin-left: 0px;
        top: calc(100% - 7px);
        width: calc(100% - 32px);
    }

    .options{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #sortOrder, #rarityFilter, #supertypeFilter{
        margin-right: 0px;
        width: 32.5%;
    }

    #output{
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
        row-gap: 5px;
        column-gap: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    #info h2{
        font-size: 24px;
    }

    .expansion{
        display: flex;
        flex-direction: column;
    }
    .expansion-item{
        flex-direction: column;
        justify-content: center;
    }
    .expansion-meta{
        align-items: center;
    }

    #cardContainer, #csvContainer{
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
        row-gap: 5px;
        column-gap: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .card{
        width: 85%;
    }

    h3{
        height: 30px;
    }

    footer {
        font-size: 12px;
        padding-left: 10px;
    }    
    
    .footicons{
        font-size: 28px;
    }    
}
